#wpadminbar #wp-admin-bar-my-sites.menupop > .ab-sub-wrapper{
	height: 450px;
	width: 450px;
	overflow: scroll;
	background: none;
	padding-bottom: 90px;
	scrollbar-width: none;
	box-shadow: none;
	background: none;
	overflow: -moz-scrollbars-none;
}

#wpadminbar #wp-admin-bar-my-sites.menupop > .ab-sub-wrapper::-webkit-scrollbar {
	width: 0 !important
}

#wpadminbar #wp-admin-bar-my-sites.menupop .ab-sub-wrapper > ul{
	width: 60%;
}

#wpadminbar #wp-admin-bar-my-sites.menupop #wp-admin-bar-my-sites-list li.hover > .ab-sub-wrapper,
#wpadminbar #wp-admin-bar-my-sites.menupop #wp-admin-bar-my-sites-list li.hover > .ab-sub-wrapper .ab-submenu,
#wpadminbar #wp-admin-bar-my-sites.menupop ul#wp-admin-bar-my-sites-super-admin ul{
	width: 100%;
}

#wpadminbar #wp-admin-bar-my-sites .menupop ul {
	background: #464b50;
	box-shadow: 0 3px 5px rgba(0,0,0,0.2);
	color:#d5dde0;
}

#wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-my-sites-super-admin,
#wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-my-sites-super-admin .ab-submenu,
#wpadminbar #wp-admin-bar-my-sites .menupop ul{
	background: #32373c;
}

#wpadminbar #wp-admin-bar-my-sites-list li:hover,
#wpadminbar #wp-admin-bar-my-sites .menupop ul li:hover{
	background: #222222;
}


/* Admin color sunrise */
.admin-color-sunrise #wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-my-sites-super-admin,
.admin-color-sunrise #wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-my-sites-super-admin .ab-submenu,
.admin-color-sunrise #wpadminbar #wp-admin-bar-my-sites .menupop ul{
	background:#c32e31;
}

.admin-color-sunrise #wpadminbar #wp-admin-bar-my-sites-list li:hover,
.admin-color-sunrise #wpadminbar #wp-admin-bar-my-sites .menupop ul li:hover{
	background: #e03b3d;
}

/* Admin color ocean */
.admin-color-ocean #wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-my-sites-super-admin,
.admin-color-ocean #wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-my-sites-super-admin .ab-submenu{
	background:#627c83;
}

.admin-color-ocean #wpadminbar #wp-admin-bar-my-sites .menupop ul{
	background: #627c83;
}

.admin-color-ocean #wpadminbar #wp-admin-bar-my-sites-list li:hover,
.admin-color-ocean #wpadminbar #wp-admin-bar-my-sites .menupop ul li:hover{
	background: #6c8f97;
}

.admin-color-ocean #wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-my-sites-super-admin li a,
.admin-color-ocean #wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-my-sites-super-admin .ab-submenu li a,
.admin-color-ocean #wpadminbar .quicklinks li .blavatar, #wpadminbar .menupop .menupop > .ab-item:before{
	color: #e5e5e5;
}


/* Admin color ectoplasm */
.admin-color-ectoplasm #wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-my-sites-super-admin,
.admin-color-ectoplasm #wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-my-sites-super-admin .ab-submenu,
.admin-color-ectoplasm #wpadminbar #wp-admin-bar-my-sites .menupop ul{
	background:#413256;
}

.admin-color-ectoplasm #wpadminbar #wp-admin-bar-my-sites-list li:hover,
.admin-color-ectoplasm #wpadminbar #wp-admin-bar-my-sites .menupop ul li:hover{
	background: #563d70;
}

.admin-color-ectoplasm #wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-my-sites-super-admin li a,
.admin-color-ectoplasm #wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-my-sites-super-admin .ab-submenu li a,
.admin-color-ectoplasm #wpadminbar .quicklinks li .blavatar, #wpadminbar .menupop .menupop > .ab-item:before{
	color: #e5e5e5;
}

/* Admin color blue */
.admin-color-blue #wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-my-sites-super-admin,
.admin-color-blue #wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-my-sites-super-admin .ab-submenu,
.admin-color-blue #wpadminbar #wp-admin-bar-my-sites .menupop ul{
	background:#006587;
}

.admin-color-blue #wpadminbar #wp-admin-bar-my-sites-list li:hover,
.admin-color-blue #wpadminbar #wp-admin-bar-my-sites .menupop ul li:hover{
	background: #1b97b6;
}

.admin-color-blue #wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-my-sites-super-admin li a,
.admin-color-blue #wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-my-sites-super-admin .ab-submenu li a{
	color: #e5e5e5;
}

/* Admin color light */
.admin-color-light #wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-my-sites-super-admin,
.admin-color-light #wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-my-sites-super-admin .ab-submenu,
.admin-color-light #wpadminbar #wp-admin-bar-my-sites .menupop ul{
	background:#afaeae;
}

.admin-color-light #wpadminbar #wp-admin-bar-my-sites-list li:hover,
.admin-color-light #wpadminbar #wp-admin-bar-my-sites .menupop ul li:hover{
	background: #999999;
}

.admin-color-light #wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-my-sites-super-admin li a,
.admin-color-light #wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-my-sites-super-admin .ab-submenu li a.ab-item,
.admin-color-light #wpadminbar #wp-admin-bar-my-sites .menupop ul li a.ab-item{
	color: #e5e5e5;
}