#wpadminbar .menupop .ab-sub-wrapper{
	box-shadow: none;
	background: none;
}

#wpadminbar .menupop .ab-sub-wrapper > ul{
	width: 60%;
}

#wpadminbar .menupop li.hover > .ab-sub-wrapper {
	width: 100%;
}

#wpadminbar .ab-top-menu > .menupop > .ab-sub-wrapper{
	height: 450px;
	width: 450px;
	overflow: scroll;
	background: none;
	padding-bottom: 90px;
	scrollbar-width: none;
	overflow: -moz-scrollbars-none;
}

#wpadminbar .ab-top-menu > .menupop > .ab-sub-wrapper::-webkit-scrollbar {
	width: 0 !important
}

#wpadminbar .quicklinks .menupop ul {
	background: #464b50;
	box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}

#wpadminbar .quicklinks .menupop ul#wp-admin-bar-my-sites-super-admin,
#wpadminbar .quicklinks .menupop ul#wp-admin-bar-network-admin-default{
	background: #32373c;
}