#wpadminbar #wp-admin-bar-my-sites.menupop > .ab-sub-wrapper{
	height: 450px;
	width: 450px;
	overflow: scroll;
	background: none;
	padding-bottom: 90px;
	scrollbar-width: none;
	box-shadow: none;
	background: none;
	overflow: -moz-scrollbars-none;
}

#wpadminbar #wp-admin-bar-my-sites.menupop > .ab-sub-wrapper::-webkit-scrollbar {
	width: 0 !important
}

#wpadminbar #wp-admin-bar-my-sites.menupop .ab-sub-wrapper > ul{
	width: 60%;
}

#wpadminbar #wp-admin-bar-my-sites.menupop #wp-admin-bar-my-sites-list li.hover > .ab-sub-wrapper,
#wpadminbar #wp-admin-bar-my-sites.menupop #wp-admin-bar-my-sites-list li.hover > .ab-sub-wrapper .ab-submenu,
#wpadminbar #wp-admin-bar-my-sites.menupop ul#wp-admin-bar-my-sites-super-admin ul{
	width: 100%;
}

#wpadminbar #wp-admin-bar-my-sites .menupop ul {
	background: #464b50;
	box-shadow: 0 3px 5px rgba(0,0,0,0.2);
	color:#d5dde0;
}

#wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-my-sites-super-admin,
#wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-network-admin-default{
	background: #32373c;
}
/*
!* Admin color sunrise *!
.admin-color-sunrise #wpadminbar #wp-admin-bar-my-sites .menupop ul {
	background: #464b50;
}

.admin-color-sunrise #wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-my-sites-super-admin,
.admin-color-sunrise #wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-network-admin-default{
	background: #b43c38;
}

!* Admin color sunrise *!
.admin-color-sunrise #wpadminbar #wp-admin-bar-my-sites .menupop ul {
	background: #464b50;
}

.admin-color-sunrise #wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-my-sites-super-admin,
.admin-color-sunrise #wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-network-admin-default{
	background: #b43c38;
}

!* Admin color ectoplasm *!
.admin-color-ectoplasm #wpadminbar #wp-admin-bar-my-sites .menupop ul {
	background: #464b50;
}

.admin-color-ectoplasm #wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-my-sites-super-admin,
.admin-color-ectoplasm #wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-network-admin-default{
	background: #b43c38;
}

!* Admin color midnightoceacoffee *!
.admin-color-midnightoceacoffee #wpadminbar #wp-admin-bar-my-sites .menupop ul {
	background: #464b50;
}

.admin-color-midnightoceacoffee #wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-my-sites-super-admin,
.admin-color-midnightoceacoffee #wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-network-admin-default{
	background: #b43c38;
}

!* Admin color oceacoffee *!
.admin-color-oceacoffee #wpadminbar #wp-admin-bar-my-sites .menupop ul {
	background: #464b50;
}

.admin-color-oceacoffee #wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-my-sites-super-admin,
.admin-color-oceacoffee #wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-network-admin-default{
	background: #b43c38;
}

!* Admin color coffee *!
.admin-color-coffee #wpadminbar #wp-admin-bar-my-sites .menupop ul {
	background: #464b50;
}

.admin-color-coffee #wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-my-sites-super-admin,
.admin-color-coffee #wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-network-admin-default{
	background: #b43c38;
}

/* Admin color blue */
.admin-color-blue #wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-my-sites-super-admin,
.admin-color-blue #wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-my-sites-super-admin .ab-submenu{
	background:#006587;
}

.admin-color-blue #wpadminbar #wp-admin-bar-my-sites .menupop ul,
.admin-color-blue #wpadminbar #wp-admin-bar-my-sites .menupop ul li:hover{
	background: #1b97b6;
}

.admin-color-blue #wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-my-sites-super-admin li a,
.admin-color-blue #wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-my-sites-super-admin .ab-submenu li a,
.admin-color-blue #wpadminbar .quicklinks li .blavatar, #wpadminbar .menupop .menupop > .ab-item:before{
	color: #e5e5e5;
}

/* Admin color light */
.admin-color-light #wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-my-sites-super-admin,
.admin-color-light #wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-my-sites-super-admin .ab-submenu{
	background:#999;
}

.admin-color-light #wpadminbar #wp-admin-bar-my-sites .menupop ul{
	background: #e5e5e5;
}

.admin-color-light #wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-my-sites-super-admin li a,
.admin-color-light #wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-my-sites-super-admin .ab-submenu li a,
.admin-color-light #wpadminbar .quicklinks li .blavatar, #wpadminbar .menupop .menupop > .ab-item:before{
	color: #e5e5e5;
}
/*
!* Admin color ocean *!
.admin-color-ocean #wpadminbar #wp-admin-bar-my-sites .menupop ul{
	color: #627c83;
}

.admin-color-ocean #wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-my-sites-super-admin,
.admin-color-ocean #wpadminbar #wp-admin-bar-my-sites ul#wp-admin-bar-network-admin-default{
	background: #738e96;
}*/


