td.column-active_blogs {
	width: 200px;
}

td.column-active_blogs a {
	cursor: pointer;
}

.siteslist {
	display: none;
}

.non-breaking {
	white-space: nowrap;
}

.plugins .column-auto-updates {
	width: 10em;
}
